## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.csproj.user
*/.vs/

## JetBrains Rider
.idea/
*.sln.iml

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
build/
out/

## Logs
*.log

## CEF runtime
cache/
DawnCache/

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Windows
Thumbs.db
*.cab
*.msi
*.msm
*.msp
